#root {
    margin: 1%;
    background-color: cornsilk;
}
.db-grid-item1 {
    grid-area: a;
    /*background-color: red;*/
    text-align: center;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 100;
}
.db-grid-item2 {
    grid-area: b;
}
.db-grid-item3 {
    grid-area: c;
}

#db-update-btn {
    max-height: max-content;
    background-color: beige;
}

.db-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a a a a a a"
        "login login login c c c"
        "b b b c c c"
        "b b b c c c"
        "b b b c c c"
        "b b b c c c";
    gap: 10px;
    padding: 10px;
}

.db-grid-container > div {
    background-color: rgba(255, 255, 255);
    padding: 20px;
    font-size: 2rem;
}
.login-container {
    grid-area: login;
}
